{
    "version": {
        "id": 0,
        "name": "",
        "version": ""
    },
    "icons": [],
    "categories": [],
    "uiSlots": [],
    "weaponTypes": [],
    "armorTypes": [],
    "diceBadges": {
        "types": [],
        "subtypes": []
    },
    "items": []
}