{
    "version": {
        "id": 0,
        "name": "release_1_2",
        "version": "1.2"
    },
    "iconCategories": [],
    "itemCategories": [],
    "uiSlots": [],
    "weaponTypes": [],
    "armorTypes": [],
    "diceBadges": {
        "types": [],
        "subtypes": []
    },
    "items": []
}